.att-table {
    text-align: center;
}

.dropdown-custom-text-wrapper {
    position: relative;
}

.dropdown-custom-text-content {
    width: 100%;
    max-height: 20em;
    overflow-x: hidden;
}

.dropdown-tip {
    padding-top: .15rem;
    padding-bottom: .15rem;
    padding-left: .25rem;
    padding-right: .25rem;
    font-size: .8rem;
    border-radius: .2rem;
}

.tip-fontsize {
    font-size: .8rem;
}

.bg-tip-type {
    background-color: lightblue;
}

.bg-tip-pk {
    background-color: #d9ffdb;
}

.bg-tip-fk {
    background-color: #f4e5e1;
}

.bg-tip-weak-link {
    background-color: #fbeffb;
}

.bg-tip-grey {
    background-color: #ccc;
}

#meta-graph-cont g .parent-node rect {
    fill: #66b3ba;
}

#meta-graph-cont g .child-node rect {
    fill: #c9f2c7;
}

#app-wrapper {
    height: 100vh;
}

#app-sidebar-cont {
    background-color: #4D3271;
}

.app-sidebar-bubbleblock {
    cursor: pointer;
    user-select: none;
    background-color: #573880;
    color: white;
    border-radius: .25rem;
    background-origin: content-box;
}

.app-sidebar-bubbleblock:hover {
    background-color: #613E8E;
    border-radius: .25rem;
}

.overflow-ellipses {
    text-overflow: ellipsis;
}

.modal-header .close {
    background-color: transparent;
    border: none;
}
